</main>
<footer>
    <section id="footer-nav">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <h4>Our Company</h4>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Shop Online</a></li>
                        <li><a href="#">In The Workplace</a></li>
                        <li><a href="#">Prediabetes</a></li>
                        <li><a href="#">Affiliate Program</a></li>
                        <li><a href="#">In Stores Near You</a></li>
                        <li><a href="#">For Kids and Teens</a></li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-2 col-lg-2">
                    <h4>News & Special Offers</h4>
                    <ul>
                        <li><a href="#">Invite a Friend</a></li>
                        <li><a href="#">Flexible Spending</a></li>
                        <li><a href="#">Weight Loss Plan</a></li>
                        <li><a href="#">Hercules's Journey</a></li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-2 col-lg-2">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#">Virtual Workshops</a></li>
                        <li><a href="#">Frequently Asked Questions</a></li>
                        <li><a href="#">Activate Monthly Pass</a></li>
                        <li><a href="#">Browse Studio Locations</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-2 col-lg-2">
                    <h4>More</h4>
                    <ul>
                        <li><a href="#">System Requirements</a></li>
                        <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Virtual Patent Marketing</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h4>Keep in touch</h4>
                    <form>
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-9">
                                <input type="email" class="form-control form-group" placeholder="Enter email">
                            </div>

                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <input type="button" class="btn btn-info form-group" value="submit">
                            </div>
                        </div>
                    </form>
                    <p>Having now a good house and a very sufficient income, he intended to marry; and in seeking a reconciliation with the Longbourn family he had a wife in view, as he meant to choose one of the daughters, if he found them as handsome and amiable as they were represented by common report. This was his plan of amends--of atonement--for inheriting their father’s estate; and he thought it an excellent one, full of eligibility and suitableness, and excessively generous and disinterested on his own part.</p>
                    <nav>
                        <ul class="nav">
                            <li class="nav-item"><i class="fab fa-facebook"></i></li>
                            <li class="nav-item"><i class="fab fa-twitter"></i></li>
                            <li class="nav-item"><i class="fab fa-instagram"></i></li>
                            <li class="nav-item"><i class="fab fa-youtube"></i></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section id="bottom-nav">
        <div class="container-fluid">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Privacy Practice Notice</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Do Not Sell My Personal Info</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Ad Choices</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Terms & Conditions</a></li>
            </ul>
        </div>
    </section>

    <section id="copyright">
        <div class="container-fluid">
            <p>&copy; 2020 BritishPandaChick. All Rights Reserved.</p>
        </div>
    </section>    
</footer>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>