<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zero to Hero Weight Loss Program</title>
    <!-- Stylesheets -->
    <link href="stylesheets/desktop.css" type="text/css" rel="stylesheet" media="screen and (min-width: 1025px)">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=PT+Serif:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="font-awesome/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <header>
        <section id="login">
          <div class="container justify-content-end">
            <ul class="nav justify-content-end">
              <li class="nav-item"><button class="btn btn-info">Sign up</button></li>
              <li class="nav-item"><a href="#">Login</a></li>
              <li class="nav-item"><a href="#">Find a Location</a></li>
            </ul>
          </div>
        </section>

        <section id="header-nav">
          <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">Zero to Hero</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">How it Works</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Healthy Living</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Shop</a>
                </li>
              </ul>
            </div>
          </nav>
        </section>
    </header>
    <main>