<%- include ("partials/header") -%>

<section id="banner">
    <div class="container">
        <div class="banner-text text-center">
            <h1>Zero to Hero</h1>
            <h4>Why wait? Offer ends today!</h4>
            <h3>Get 40% off + extra 10% off for a limited time</h3>
            <p>Get ready for Fall today!</p>
            <p>Select plan purchase required. <a href="#">See offer terms</a></p>
        </div>
        
        <div class="group text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <h2>Try our most customized program ever, proven to help you use weight fast.*</h2>
                    </div>
    
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <button class="btn btn-block btn-info">I'm ready</button>
                    </div>
                </div>      
            </div> 
        </div>
    </div>
</section>

<section id="programs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3 class="text-center">Digital</h3>
                <p>Mr. Collins had only to change from Jane to Elizabeth--and it was soon done--done while Mrs. Bennet was stirring the fire. Elizabeth, equally next to Jane in birth and beauty, succeeded her of course.</p>
                <a href="#">Starting at $3.57/week</a>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3 class="text-center">Workshops + Digital</h3>
                <p>Mr. Collins had only to change from Jane to Elizabeth--and it was soon done--done while Mrs. Bennet was stirring the fire. Elizabeth, equally next to Jane in birth and beauty, succeeded her of course.</p>
                <a href="#">Starting at $6.67/week</a>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3 class="text-center">Coaching + Digital</h3>
                <p>Mr. Collins had only to change from Jane to Elizabeth--and it was soon done--done while Mrs. Bennet was stirring the fire. Elizabeth, equally next to Jane in birth and beauty, succeeded her of course.</p>
                <a href="#">Starting at $9.69/week</a>
            </div>
        </div>
    </div>
</section>

<section id="included">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="text-center">What's included when you join Zero to Hero</h2>
            <p>Mr. Collins had only to change from Jane to Elizabeth--and it was soon done--done while Mrs. Bennet was stirring the fire. Elizabeth, equally next to Jane in birth and beauty, succeeded her of course.</p>
    
            <div class="row perks">
                <div class="col-sm-12 col-md-4 col-lg-4 box">
                    <h3>Headline</h3>
                    <p>Mr. Collins had only to change from Jane to Elizabeth--and it was soon done--done while Mrs. Bennet was stirring the fire. Elizabeth, equally next to Jane in birth and beauty, succeeded her of course.</p>
                </div>
    
                <div class="col-sm-12 col-md-4 col-lg-4 box">
                    <h3>Headline</h3>
                    <p>Mr. Collins had only to change from Jane to Elizabeth--and it was soon done--done while Mrs. Bennet was stirring the fire. Elizabeth, equally next to Jane in birth and beauty, succeeded her of course.</p>
                </div>
    
                <div class="col-sm-12 col-md-4 col-lg-4 box">
                    <h3>Headline</h3>
                    <p>Mr. Collins had only to change from Jane to Elizabeth--and it was soon done--done while Mrs. Bennet was stirring the fire. Elizabeth, equally next to Jane in birth and beauty, succeeded her of course.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include ("partials/footer") -%>